### Common ###

.env
.DS_Store
*.pem

### Go ###

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

### NextJS ###
node_modules
.next/
out/
coverage

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
